*.pyc
*.log
*.pt
*.txt
*.jpg
*.ipynb
logs
temps
finetune_old
extra_data/select_wikifact_clean.py
extra_data/annotated_extra_data/wikifact4tac.pkl
extra_data/annotated_extra_data/wikifact4wiki.pkl
data/clean_data/*.pkl
data/model/bert-base-uncased
data/model/microsoft_deberta-v2-xlarge-mnli
/data/tywang/final_version/URE-master/cache
annotation/NLI_outputs/*.pkl
.ipynb_checkpoints
cache
data/annotation_result/*.pkl
annotation/mnli_broken.py
annotation/run_evaluation_broken.py
annotation/run_evaluation_wikifact.py
annotation/__pycache__
finetune/__pycache__
direct_zeroshot.sh
main_disrupt.sh
data/tac/*.json
data/tac/*.pkl
main_extra.sh